@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

// colors
:root {
  --light-grey-bg: #87878a;
  --grey-bg: #70737c;
  --btn-color: #ffcc01;
  --link-color: #23a7ff;
}

// Styles for the body
body {
  margin: 0;
  background-size: 60px 60px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  height: 100vh;
}

// Global button styles
.btn {
  border: 3px solid #000;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

// Global font
* {
  font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}
